body {
  color: rgb(255, 249, 196);
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  text-align: center;
}
footer {
  margin-top: 4rem;
  text-align: center;
}
footer > p {
  margin: 0 auto;
}
body > * {
  width: 80%;
}
body > header {
  font-size: large;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-left: 27rem;
}
body > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* move out of sun */
  padding-left: 25rem;
  margin: 1rem;
  gap: 10px;
}

section > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
  height: 300px;
  padding: 0 1rem;
  background-color: rgb(255, 249, 196, 0.8);
  color: black;
  border-radius: 10px;
}
.testimonial,
.events{
  p,h2
  {
    padding-left: 15rem;
  }
  p, h2 {
    font-size: x-large;
  }

  /* padding-left: 25rem; */
}

.action-call a {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;

  text-decoration: none;
  background-color: black;
  color: rgb(255, 249, 196);
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  cursor: pointer;
}
p > a {
  margin: 1rem auto;
  text-align: center;
  padding: 2px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 249, 196, 0.6);
  cursor: pointer;
  border-radius: 3px;
}
@media (max-width: 750px) {
  /* #video-bg {
      display: none;
    } */
  /* body {
    background: url("./earth-mobile.jpg") no-repeat;
    background-size: cover;
  } */
  .text-content {
    width: 75%;
    font-size: 1.5rem;
    padding: 1rem;
  }
  section > * {
    height: auto;
  }
  footer,
  body > header,
  body > section,
  .testimonial,
  .events {
    padding-left: 1rem;
    padding-right: .5rem; 
    width: 80%;
  }
  .testimonial,
.events{
  p,h2
  {
    padding-left: 0rem;
  }
  p, h2 {
    font-size: large;
  }
}
  h1 {
    text-align: center;
  }
  h2 {
    margin: 1rem 0 0 0;
  }
  footer {
    text-align: center;
  }

  body > header {
    padding-bottom: 0;
  }
}
